body {
  text-align: center;
  background-image: url("bgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

.row {
  z-index: -10;
}

[data-row].red {
  background-color: #f6c5c5;
  height:50px;
}

[data-row].yellow {
  background-color: #ffffa9;
  height:50px;
}

[data-row].green {
  background-color: #baf6ba;
  height:50px;
}

[data-row].blue {
  background-color: aliceblue;
  height:50px;
}

.stone {
  z-index: 10;
  border: 1px soild black;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #331306;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 20px;
  background-color: blue;
}

[data-color="green"] {
  height: 30px;
  background-color: green;
}

[data-color="red"] {
  height: 40px;
  background-color: red;
}

[data-color="yellow"] {
  height: 50px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
